.wrapper {
  margin: 50px 25px;
  padding: 50px;
  height: auto;
  background-color: var(--container-background-color);
  color: var(--title-color);
  border-radius: var(--container-border-radius);
  overflow: auto;
  max-height: calc(100dvh - 100px);
  box-shadow: 5px 0 12px rgba(73, 73, 73, 0.49);
  display: flex;
  flex-direction: column;
}

.sidebar_toggle {
  align-self: end;
  z-index: 9999;
  position: fixed;
  visibility: hidden;
  top: 32px;
  right: 32px;
  border: none;
  background-color: transparent;
  font-size: x-large;
  color: var(--title-color);
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 30px;
    max-height: 100dvh;
    min-height: unset;
    background-color: #607274;
  }

  .sidebar_toggle {
    visibility: visible;
  }
}
