.wrapper {
  border-radius: var(--container-border-radius);
  background-color: var(--container-background-color);
  color: var(--title-color);
  max-height: calc(100vh - 100px);
  overflow: scroll;
  min-height: 40vh;
  padding: 50px;
  margin: 50px;
  box-shadow: 5px 0 12px rgba(73, 73, 73, 0.49);
}
