.container {
  justify-content: center;
  flex-direction: row;
  display: flex;
}

.content {
  width: min(1000px, 90vw);
}

@media only screen and (max-width: 1024px) {
  .content {
    min-width: 100vw;
    margin: 0;
    padding: 0;
  }
}
