.container {
  justify-content: center;
  flex-direction: row;
  display: flex;
  min-height: 100vh;
}

.content {
  width: min(1500px, 90vw);
  flex: 1;
  padding-left: calc(var(--sidebar-width) + 50px);
}
