.paragraph {
  font-size: 0.95em;
  line-height: 1.7em;
  padding-bottom: 0.7em;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: ghostwhite;
  font-weight: 600;
  cursor: pointer;
}

p, .paragraph, h2 {
  cursor: default;
}
