nav {
  margin: 50px 25px;
  padding: 40px 0;
  width: var(--sidebar-width);
  height: auto;
  background-color: var(--container-background-color);
  z-index: 1000;
  border-radius: var(--container-border-radius);
  overflow: hidden;
  max-height: calc(100vh - 100px);
  box-shadow: 5px 0 12px rgba(73, 73, 73, 0.49);
  display: flex;
  flex-direction: column;
}

li a {
  font-size: 0.9em;
  text-decoration: none;
  color: var(--link-color);
  display: block;
  padding: 12px 24px;
  transition: 0.3s;
  margin: 10px;
}

.social_link_icon:hover, nav a:hover, nav .nav_links .active_link:hover {
  color: var(--link-hover-color);
}

nav a:hover {
  background-color: var(--link-hover-pill-color);
  border-radius: 12px;
}

.nav_container {
  overflow: auto;
}

.nav_links {
  margin: 0;
  list-style: none;
  color: #363636;
}

.nav_links .active_link {
  padding: 12px 24px;
  display: block;
  color: var(--title-color);
  background-color: var(--link-active-pill-color);
  border-radius: 12px;
  box-shadow: 2px 4px 6px rgba(54, 54, 54, 0.2);
}

.social_links {
  justify-content: space-evenly;
}

.social_links a:hover {
  background-color: unset;
}


.social_link_icon {
  font-size: xx-large;
  color: var(--link-color);
  transition: 0.3s;
}

.sidebar_title {
  color: var(--title-color);
  font-size: large;
  font-weight: 500;
  text-align: center;
}

.sidebar_subtitle {
  color: var(--subtitle-color);
  font-size: small;
  font-weight: 400;
  margin: 6px auto 0 auto;
  text-align: center;
}

.sidebar_title, .sidebar_subtitle {
  cursor: default;
}

.professional_title {
  text-shadow: 2px 2px 2px #36363630;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.06);
  background-color: rgba(70, 70, 70, 0.1);
  border-radius: 12px;
  padding: 8px;
}

@media only screen and (max-width: 1024px) {
  nav {
    position: absolute;
    top: 0;
    transition: left 0.3s ease;
    left: -100%;
    margin: 0;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    min-height: 100vh;
    max-height: unset;
    overflow: auto;
    background-color: #607274;
  }

  nav.active {
    left: 0;
  }
}

@media only screen and (max-width: 480px) {
  .nav_links {
    padding: 0;
    overflow: unset;
  }

  li a {
    padding: 10px 20px;
    margin: 5px;
  }

  .sidebar_title {
    font-size: medium;
  }

  .sidebar_subtitle {
    font-size: smaller;
  }

  .professional_title {
    padding: 6px;
  }

  nav .nav_links .active_link {
    padding: 10px 20px;
  }
}
