@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}

:root {
  --background-color: rgba(97, 147, 154, 0.50);
  --container-background-color: rgba(62, 79, 79, 0.7);
  --container-border-radius: 20px;
  --container-border: rgba(255, 255, 255, 0.46) 1px solid;
  --sidebar-width: 320px;
  --link-color: #d5dee7;
  --link-hover-color: white;
  --title-color: whitesmoke;
  --link-active-pill-color: #466679;
  --link-hover-pill-color: rgba(70, 102, 121, 0.19);
}

body {
  background-color: var(--background-color);
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}
